@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Barlow", sans-serif;
  font-style: normal;
  padding: 0;
  margin: 0;
  outline: none;
  text-decoration: none;
  list-style: none;
}



.auth-bg {
  background-image: url(./assets/ellipse.svg);
  background-repeat: no-repeat;
  position: relative;
}

tr {
  border-bottom: 1px solid #D5D5D5;
  border-top: 1px solid #D5D5D5;
  border-collapse: collapse;
  text-align: center;
  color: #202224;
}

.teacher-name {
  word-break: break-word;
}