@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Barlow", sans-serif;
  font-style: normal;
  padding: 0;
  margin: 0;
  outline: none;
  text-decoration: none;
  list-style: none;
}

.auth-bg {
  background-image: url(./assets/ellipse.svg);
  background-repeat: no-repeat;
  position: relative;
}

tr {
  border-bottom: 1px solid #d5d5d5;
  border-top: 1px solid #d5d5d5;
  border-collapse: collapse;
  text-align: center;
  color: #202224;
}

.teacher-name {
  word-break: break-word;
}

.left-border {
  position: relative;
}

.left-border::after {
  content: "";
  position: absolute;
  width: 5px;
  height: 100%;
  left: 0;
  top: 0;
  background-color: #00194f;
}

.top-border {
  position: relative;
}

.top-border::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 6px;
  left: 0;
  top: 0;
  background-color: #00194f;
}
